body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #FFD1DC, #FF9A8B);
    position: relative;
    overflow: hidden;
}

.container {
    text-align: center;
    z-index: 100; /* Ensures the text stays on top of the images */
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    color: #fd79a8;
    z-index: 100;
    margin-bottom: 20px;
    
}

.button-container {
    margin-top: 20px;
    position: relative;
    z-index: 100;
}

button {
    font-size: 1.5rem;
    padding: 12px 24px;
    margin: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    transform: scale(1.1);
}

#yesButton {
    background-color: #A4E5C3;
    color: white;
}

#yesButton:hover {
    background-color: #85D0A5;
}
#noButton {
    background-color: #FF6F91;
    color: white;
    position: relative;
}

img {
    max-width: 200px;
    position: absolute;
    border-radius: 10px;
    animation: fadeIn 0.5s ease-in-out;
    z-index: -100;
    pointer-events: none; /* Prevents interaction with images */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
